<div>
	<strong>Name:</strong>
	<%= @android.name %>
</div>

<div>
	<strong><%= Brand%></strong>
	<%= @android.brand %>
</div>

<div>

	<strong><%= Year_release%></strong>
	 <%= @android.year_release %>
</div>

<div>
	<strong><%= Camera%></strong>
	<%= @android.camera %>
</div>

<div>
	<strong><%= Mpixels%></strong>
	<%= @android.mpixels %>
</div>
<div>
	<strong><%= Internal_storage</strong>
	<%= @android.internal_storage %>
</div>
<div>
	<strong><%= Numberof_slots </strong>
	<%= @android.numberof_slots %>
</div>
<div>
	<strong><%= Sizeof_screen </strong>
	<%= @android.sizeof_screen %>
</div>
<div>
	<strong><%= Operating_system </strong>
	<%= @android.operating_system %>
</div>
<div>
	<strong><%= Numberof_stock </strong>
	<%= @android.numberof_stock %>

</div>
